# Verify your email

Hi {{name}},

Someone (hopefully you) requested a link to confirm your email, so here you go.

<div style="text-align:center">
<a href="{{ link }}" class="btn btn-primary">Verify my email</a>
</div>

Note that this link is valid for {{ days }} days only. If you didn't request this email, you can just ignore it.
